#main-title-container { 
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    font-size: 2rem;
} 

body { 
    background-color: skyblue;
}

* { 
    box-sizing: border-box;
} 


#main-title-container > h1 { 
    font-size: 5rem;
} 

.start-game-btn-hidden-class { 
    display: none;
} 

#start-game-btn-container { 
    display: flex;
    justify-content: center;
}

/* #start-game-btn-visable-class { 
    display: block;
    text-align: center;
} */

#wrapping-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10em;  */
}

#gameboard-grid-container { 
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    max-width: 250px;
    justify-content: center;
} 

#gameboard-grid-container-computer { 
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    max-width: 250px;
    justify-content: center;
}

/* #computer-board-container { 
    display: grid;
    justify-content: space-between; 
} */

/* ship objects for DOM and container styles below */

#change-ship-direction-btn-container { 
    display: flex;
    justify-content: center;
}

#container-for-ship-objects { 
    display: flex;
    gap: 2em; 
    justify-content: center;
}

#container-for-battleship-description-text, 
#container-for-destroyer-description-text, 
#container-for-patrolboat-description-text, 
#container-for-carrier-boat-description-text,
#container-for-submarine-description-text { 
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: underline;
}

#container-for-battleship, #container-for-destroyer, #container-for-patrol-boat, #container-for-carrier-boat, #container-for-submarine { 
    display: flex;
    flex-direction: row;
} 

#ship-obj-styles { 
    height: 35px; 
    width: 35px; 
    background-color: silver;
    border: 1px solid black;
} 


.battleship-hover-class { 
    background-color: gray; 
}

/* .battleship-remove-class { 
    background-color: skyblue;
} */


/* player board, flex container
#player-board-flex-container { 
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard-container { 
    display: flex;
    flex-wrap: wrap;
    /* height: 350px; 
    width: 350px; */
    /* max-height: 350px;  */
    /* max-width: 350px; */
    /* justify-content: center;
    align-items: center;  */
/* }  */

/* #cell-styles { 
    min-height: 35px; 
    min-width: 35px; 
    background-color: blue;
    border: 1px solid black;
}  */



/* DOM ship placement styles */

/* #ship-containers-for-placement { 
    display: flex;
    min-width: 100px; 
    min-height: 100px;
    justify-content: center;
    align-items: center;
}

#battleship-container { 
    display: flex;
    flex-wrap: wrap;
    /* height: 50px; 
    width: 50px; */
/* }

#battleship-obj-styles { 
    height: 35px; 
    width: 35px; 
    background-color: silver;
    border: 1px solid black;
}  */ 


